<div class="clearfix">
   <%= f.label :content, :class => :label %>
  <div class="input">
    <%= f.text_area :content, :class => 'text_area input-xlarge', rows: 5 %>
  </div>
</div>
<div class="actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", posts_path %>
</div>
